@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://www.canva.com/design/DAGXBKSTqfc/kA4bViFaQ8x4a02KgRhQEg/view?utm_content=DAGXBKSTqfc&utm_campaign=designshare&utm_medium=link&utm_source=editor" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
